<p>1: Select a car || <b>2: Select a starter package</b> || 3: Tuning || 4:Pay the ride || 5:Happiness!</p>


<ul>
    <li ng-repeat="pt in packageTypes">
        <Button ng-click="setCurrentPackageType(pt)">{{pt}}</Button>
    </li>
</ul>

<ul>
    <li ng-repeat="package in packages | filter:currentPackageType">
        <a href="#/view3/?ids={{chosenCarId}},{{package.engineId}},{{package.rimsId}},{{package.tiresId}},{{package.exhaustId}}"><img ng-src="imgs/package.png"></a>
        <a href="#/view3/?ids={{chosenCarId}},{{package.engineId}},{{package.rimsId}},{{package.tiresId}},{{package.exhaustId}}">{{package.name}}</a>
    </li>
</ul>