<p>1: Select a car || 2: Select a starter package ||3: Tuning || <b>4:Pay the ride</b> || 5:Happiness!</p>

<ul ng-repeat="ct in componentTypes">
    <li><b>{{ct}}</b>
    <div ng-repeat="selectedComponent in components" ng-show="selectedComponent.id == ids[componentTypes.indexOf(ct)+1]">
        {{selectedComponent.id}} {{selectedComponent.price}}
    </div></li>
</ul>



<a href="#/view5/?ids={{ids[0]}},{{ids[1]}},{{ids[2]}},{{ids[3]}},{{ids[4]}}">
    <button type = "BUTTON">Pay!</button>
</a>